#Lalu
{
    font-size: 50px;
    color:cornflowerblue;
}
#Pintu
{
    font-size: 50px;
    color: crimson;
    
}
#Mahol
{
    opacity: 0.5;
    color: black;
    font-size: 30px;
}
#Tree
{
    opcity: 100;
    color: blueviolet;
}